doctype html
head
  meta(name="viewport" content="width=device-width")

  link(rel="stylesheet" href="stylesheets/app.css")
  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")


  script.
    require('js/index');

body
  canvas.map
  .control_panel
    button.plus +
    button.minus –
    .zoom 1